<div class="center-content">
    <mat-card class="card">
        <p>Please enter your email address to request a new password</p>
        <input type="email" class="card" placeholder="Email Address" #passwordResetEmail required>
        <br>
        <br>

        <!-- Calling ForgotPassword from AuthService Api -->

        <input type="submit" class="card2" value="Reset Password"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">
            <br>
         <button class="card2" routerLink="/sign-in">Go back</button> 
    </mat-card>
</div>