.card{
    max-width: 400px;
  border: 1px solid black;
  border-radius: 8px, ;
  background-color: transparent;
  color: white;

}

.card2{
    background-color: transparent;
    color: white;
    border: transparent;
}

.center-content {
  text-align: -webkit-center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  border-radius: 3px white;
  background-color: transparent;
}