<body>
  <div>
    <mat-card class="profile-pic">
      <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Profile Image" class="profile-image">
      <div class="profile">
        <mat-card-title>Dog Gone</mat-card-title>
        <mat-card-subtitle>T.C Center</mat-card-subtitle>
        <mat-card-subtitle>Grad Year</mat-card-subtitle>
        <button mat-raised-button (click)="openDialog()">Edit Profile</button>
      </div>
    </mat-card>
    <mat-card class="test-card">
      <mat-card-content>
        <h1>Testimony</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt arcu ut sem dignissim tincidunt.
          Fusce
          eu leo a nulla eleifend hendrerit. Nullam non tortor at purus sagittis iaculis. Maecenas ultricies consequat
          ante nec fermentum. Pellentesque sed nibh at ante tempor interdum id eu dolor. Cras faucibus sed eros et
          mollis.
          Donec congue elementum posuere. Vivamus id dictum nulla. Vestibulum eleifend fringilla neque nec interdum.
          Vestibulum sed dui augue. In hac habitasse platea dictumst.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bio-card">
      <mat-card-content>
        <h2>Bio</h2>
        <ul>
          <li>T.C Grad Center:</li>
          <li>T.C Grad Year:</li>
          <li>Currently Living:</li>
          <li>E-Mail:</li>
          <li>Phone Number:</li>
          <li>Birthday:</li>
          <li>Favorite Bible Verse:</li>
          <li>Favorite Book in Bible:</li>
          <li>Hobbies:</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</body>

<ng-container >

  <!--<div>
    <mat-card class="update">
      <mat-form-field>
        <input matInput placeholder="Update your name" [(ngModel)]="user.firstName">
        <mat-icon matSuffix (click)="updateProfile()">save</mat-icon>
        <mat-hint >Save</mat-hint>
      </mat-form-field>
    </mat-card>

    <mat-card class="update">
      <mat-form-field>
        <input matInput placeholder="Update your email" [(ngModel)]="user.email">
        <mat-icon matSuffix (click)="updateEmail()">save</mat-icon>
        <mat-hint >Save</mat-hint>
      </mat-form-field>
    </mat-card>

    <mat-card class="update">
      <form (ngSubmit)="updateUser()">
        <mat-form-field>
          <textarea matInput placeholder="Update you testimony" name="bio" [(ngModel)]="user.testimony"></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit" color="accent">Save</button>
      </form>
    </mat-card>
  </div>

 </ng-container>-->

 


